doctype html
html(lang="en")
  head
    title Music
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="bbplayer/css/bbplayer.css")
    link(rel="stylesheet" href="music.css")
  body

    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") Music
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.signedin: a#togglealbums(href="#") Albums
            li.signedin#signout: a(href="#") Sign Out
            li.signedin: a#settingslink(href="#") Settings
            li#signin: a(href="#") Sign In

    #wrapper
      #sidebar-wrapper
        input#search.form-control(type="text" placeholder="Search")
        ul#albums.sidebar-nav

      #page-content-wrapper
        .container-fluid
          .row
            .col-lg-12
              #dummyplayer.player
                .dummybb
                  span.bb-rewind
                  span.bb-play
                  span.bb-forward
                  .playerWindow
                    span.bb-trackTime --:--
                    span.bb-trackTitle &nbsp;
                    span.bb-trackLength --:--
                  .bb-album-display
                    span.bb-album &nbsp;
                  audio
              #player.player
              #songs
                ul

    #loader
      .cssload-whirlpool

    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.10.2/dropbox.min.js")
    script(src="//cdn.jsdelivr.net/bluebird/3.0.5/bluebird.js")
    script(src="bbplayer/bbplayer.js")
    script(src="music.js")
