div.bbplayer
  span.bb-rewind
  span.bb-play
  span.bb-forward
  div.playerWindow
    span.bb-trackTime --:--
    span.bb-trackTitle &nbsp;
    span.bb-trackLength --:--
  div.bb-album-display
    span.bb-album &nbsp;
  audio#playlist(autoplay)
